<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <script src="/js/signup.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
    <style>
        .error-message {
            color: red;
            font-weight: bold;
        }
        .success-message {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>회원 가입</h1>
    <form action="new" method="post">
        <div>
            <input type="text" name="login_id" id="login_id" placeholder="아이디">
            <button type="button" id="duplicationBtn" onclick="isDuplication()">중복확인</button>
            <p id="idDuplicateResult"></p>
        </div>
        <div>
            <input type="password" name="pw" id="pw" placeholder="비밀번호"><br>
            <input type="password" id="pwCheck" onblur="checkPassword()" placeholder="비밀번호 확인">
            <p id="checkPassword"></p>
        </div>
        <div>
            <input type="text" name="name" id="name" placeholder="이름">
        </div>
        <div>
            <input type="date" name="birth" id="birth" placeholder="생년월일">
        </div>
        <div>
            <input type="text" name="postcode" id="postcode" placeholder="우편번호" readonly>
            <input type="button" onclick="daumPostcode()" value="우편번호 찾기"><br>
            <input type="text" name="address" id="address" placeholder="주소" readonly><br>
            <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소">
            <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목">
        </div>
        <div>
            <label for="email">이메일</label><br>
            <input type="text" name="email" id="email"> @ <input type="text" name="domain" id="domain">
            <select name="domainList" id="domainList" onchange="selectDomain()">
                <option value="">직접입력</option>
                <option value="naver.com">네이버</option>
                <option value="gmail.com">구글</option>
            </select>
        </div>
        <div>
            <button type="submit">회원 가입</button>
        </div>
    </form>
</body>
</html>